---
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';

import image1 from '~/assets/img1.jpg';
import image2 from '../assets/img2.jpg';

export const prerender=true;

const image3 = (await import('~/assets/img3.jpg')).default;

const entry = await getEntry('img', 'img-from-collection');
const image4 = entry.data.img;
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<a href="/ssr">ssr</a>

		<h2>Image 1</h2>
		<p>
			<Image src={image1} width="600" alt="img1" />
		</p>

		<h2>Image 2</h2>
		<p>
			<Image src={image2} width="600" alt="img2" />
		</p>

		<h2>Image 3</h2>
		<p>
			<Image src={image3} width="600" alt="img3" />
		</p>

		<h2>Image 4 (from collection)</h2>
		<p>
			<Image src={image4} width="600" alt="img4" />
		</p>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1, h2 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	h2 {
		font-size: 2rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>

